@import 'styles/_variaveis.scss';

.exemplos {
  color: yellow;
  margin: $margin;
  &__exemplo {
    color: red;
  }
  &--ativo {
    background-color: blue;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.sidebar {
  display: flex;
  flex-direction: column;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: #fff;
}

.sidebar .sidebar-wrap {
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.sidebar .logo {
  position: static;
  margin-bottom: 42px;
  color: #111111;
  font-family: 'Miller Banner Black', 'Miller Banner Black', serif;
  font-weight: normal;
  font-size: 32px;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar nav {
  display: flex;
  justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.sidebar nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li:not(:last-child):after {
  margin-right: 0;
}

.item {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #646464;
  margin: 8px 12px 8px 12px;
  &:last-child {
    margin-right: 4px;
  }
}

@media (min-width: 700px) { 
  .menu__desktop {
  }
}