.photo__perfil {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.section__perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 120px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    margin: 0;
  }
}

.footer__section {
  width: 100%;
}

.text__perfil {
  margin-top: 30px;
}

.text__wrapper {
}

hr {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  height: auto;
  border-right-width: thin;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin: 24px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
